/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/*Effecten*/


.orange {
    left: 0;
    right: 0;
    top: 10em;
    width: 69.6vw;
    height: 65vh;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    box-shadow: inset 0 0 300px 190px #ff4800;
    mix-blend-mode: color;
    z-index: 2;
    transition: 2s opacity;
}
.blue {
    left: 0;
    right: 0;
    top: 10em;
    width: 70vw;
    height: 65vh;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    box-shadow: inset 0 0 100px 290px #03b5fc;
    mix-blend-mode: color;
    z-index: 2;
    transition: 1s opacity;
}
.aqua {
    left: 0;
    right: 0;
    top: 10em;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    box-shadow: inset 0 0 2000px 490px aqua;
    mix-blend-mode: overlay;
    z-index: 2;
    transition: 0.5s opacity;
}
.red {
    left: 0;
    right: 0;
    top: 10em;
    width: 70vw;
    height: 60vh;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    box-shadow: inset 0 0 200px 290px #ff0000;
    mix-blend-mode: color;
    z-index: 2;
    transition: 1s opacity;
}
.black {
    left: 0;
    right: 0;
    top: 15%;
    width: 71vw;
    height: 60%;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    box-shadow: inset 0 0 1000px 130px #000;
    z-index: 2;
}

.black-box {
    left: 0;
    right: 0;
    top: 15%;
    width: 100vw;
    height: 60%;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    opacity: 0%;
    /*box-shadow: inset 0 0 0px 100px red;*/
    box-shadow: inset 0 0 0 0, 
                inset 0 0 0 0, 
                inset 200px 0 0 0 black, 
                inset -200px 0 0 0 black;
    z-index: 2;
}

/*orange1*/
.sound0 .orange {
    opacity: 60%;
}
/*blue*/
.sound1 .blue {
    opacity: 20%;
}
/*red1*/
.sound2 .red {
    opacity: 40%;
}
/*aqua*/
.sound3 .aqua {
    animation: aqua-animation 2s;
}
/*aqua2*/
.sound4 .aqua {
    animation: aqua-animation 2s;
}
/*aqua3*/
.sound5 .aqua {
    animation: aqua-animation 2s;
}
/*black1*/
.sound6 .black {
    opacity: 100%;
    animation: black-animation 26s;
}
.sound7 .black-box {
    opacity: 100%;
    animation: black-box-animation 15s;
}

@keyframes black-box-animation {
  0% {opacity: 0%;}
  1% {opacity: 100%;}
  2% {width: 100vw;}
  100% {width: 75vw;}
}


@keyframes aqua-animation {
  0% {opacity: 0%;}
  60% {opacity: 50%;}
  70% {opacity: 2%;}
  75% {opacity: 60%;}
  90% {opacity: 60%;}
  100% {opacity: 0%;}
}

@keyframes black-animation {
  0% {opacity: 0%;}
  98% {opacity: 100%;}
  100% {opacity: 0%;}
}

.sound0 iframe{
    animation: trillen .12s infinite;
}

@keyframes trillen {
  0% {transform:rotate(0deg;)}
  100% {transform:rotate(0.51deg);}
}


/*Closed captions*/

/*Geluiden CC*/

#closed-captions:before{
    font-size: 1.3em !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: .5s;
    position: fixed;
}

.sound0 #closed-captions:before {
    content: "[Low rumble]";
    opacity: 1;
}
.sound1 #closed-captions:before{
    content: "[Alarm]";
    opacity: 1;
}
.sound2 #closed-captions:before{
    content: "[Siren]";
    opacity: 1;
}
.sound3 #closed-captions:before{
    content: "[Mechanical siren]";
    opacity: 1;
}
.sound4 #closed-captions:before{
    content: "[Mechanical siren]";
    opacity: 1;
}
.sound5 #closed-captions:before{
    content: "[Mechanical siren]";
    opacity: 1;
}
.sound6 #closed-captions:before{
    content: "[Creeping noise]";
    opacity: 1;
}


#closed-captions p, #closed-captions:before{
	opacity: 0;
	position: fixed;
    max-width: 500px;
    bottom: 35%;
    font-family: "brenner sans condensed";
    color: #FFF;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    z-index: 3;
}

#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
}
.voice2 {
	font-style: normal;
}
div .voice3 {
    font-style: italic;
    font-size: !important;
}
#video-placeholder {
    width: 100vw;
    max-width: 70vw;
    height: 80vh;
    margin: 50px auto;
    display: block;
    z-index: 2;
}
body {
    margin: 0px;
    background-color: #000;
    overflow: hidden;
}

/*Alignment*/
.left {
    left: 6%;
}
.right {
    right: 6%;
}
.right-2 {
    right: 6%;
    bottom: 32% !important;
}
.right-3 {
    right: 6%;
    bottom: 29% !important;
}
.center {
    margin: 0 auto 30px auto;
    left: 0;
    right: 0;
}

/*Font*/
.custom-font {
    font-family: "brenner sans condensed";
    color: #FFF;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
.regular {
    font-weight: 200;
}
.bold {
    font-weight: 400;
}
.extra-bold {
    font-weight: 800;
    font-size: 2.3em !important;
}
.extra-bold-small{
    font-weight: 400;
    font-size: 1.2em !important;
    text-align: center;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */


/*Officer K D 6 - 3 . 7. Let’s begin. Ready?*/

.p0 span {
	opacity: 0;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
    font-family: "brenner mono";
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-family: "brenner mono";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
}


/*Yes, sir*/

.p1 span {
	opacity: 0;
}
.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}


/*Recite your baseline.*/

.p2 span {
	opacity: 0;
}
.p2.on span:first-of-type {
	opacity: 1;
	transition: 0s;
    font-family: "brenner Sans condensed";
}

.p2.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
    font-family: "brenner Sans condensed";
}

.p2.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
    font-family: "brenner Sans condensed";
}


/*And blood-black nothingness began to spin*/

.p3 span {
	opacity: 0;
}
.p3.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p3.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
}

.p3.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .7s;
}

.p3.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s 1.2s;
}

.p3.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.4s;
}

.p3.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.9s;
}


/*A system of cells interlinked within cells,*/

.p4 span {
	opacity: 0;
}
.p4.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p4.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .3s;
}

.p4.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
}

.p4.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s 0.8s;
}

.p4.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
}

.p4.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.6s;
}

.p4.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.9s;
}

.p6.on span:nth-of-type(1),
.p6.on span:nth-of-type(2) {
     font-weight: 900 !important;
}

